.hidden {
  display: none;
}

header {
  position: relative;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.container {
  margin: 0 3rem;
}

.info-view-container {
  margin: 1rem 5rem;
}

.links {
  margin-right: 1rem;
  align-self: center;
}

.breeds-link {
  padding-right: 1rem;
}

.title {
  margin-left: 1rem;
}

.view-title {
  margin-top: 2rem;
  text-align: center;
}

img {
  padding: 0 2.5rem;
  height: 13rem;
  margin-bottom: 2rem;
  width: 100%;
  object-fit: contain;
}

.cat-name {
  text-align: center;
}

.info-name,
.info-temp,
.info-des {
  text-align: center;
}

.paws {
  letter-spacing: 0.75rem;
}

.info-name,
h2 {
  margin-bottom: 0;
}

.info-img {
  margin-bottom: 1rem;
}

.info-temp,
.info-des,
.info-value {
  margin-top: 0;
}

.info-name {
  display: inline;
  padding-right: 0.5rem;
}

.info-name-container {
  text-align: center;
}

.info-des {
  margin: 0 2.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .title {
    margin-left: 5rem;
  }

  .links {
    margin-right: 4rem;
  }

  .col-third {
    width: calc(100% / 3);
  }

  img {
    padding: 0 1.5rem;
    height: 12rem;
  }

  .info-row {
    display: flex;
  }

  .col-half {
    width: 50%;
  }

  .col-half.half {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
  }

  .col-full {
    width: 100%;
    transform: translate(25%);
  }

  .info-temp {
    margin-bottom: 4rem;
  }
}
