header {
  background-color: #44a2a8;
  color: white;
}

.cat-name,
.view-title,
.breeds-link,
.fav-link,
.info-name,
h2,
.fact,
.fact-button {
  font-family: 'rum raisin', sans-serif;
}

p {
  font-family: 'Poor Story', cursive;
  line-height: 1.5rem;
  font-size: 1rem;
}

.title {
  font-family: atma, cursive;
  font-size: 2rem;
}

.info-des {
  border-bottom: 2px solid #44a2a8;
  padding-bottom: 0.75rem;
}

.fa-star {
  color: #44a2a8;
  font-size: 2rem;
}

.fa-star.fav {
  font-size: 1.5rem;
}

.link-star {
  color: white;
  font-size: 1rem;
}

.cat-name:hover,
.cat-img:hover,
.title:hover,
.breeds-link:hover,
.fav-link:hover,
.fa-star:hover {
  cursor: pointer;
}

.fact-button {
  padding: 0.5rem 1.75rem;
  background-color: #44a2a8;
  border: 1px solid #44a2a8;
  color: white;
}

@media screen and (min-width: 768px) {
  .info-des {
    border-bottom: none;
  }

  .fact-button {
    font-size: 1.5rem;
  }

  .fact-title {
    font-size: 2.5rem;
  }

  .fact {
    font-size: 1.5rem;
  }
}
